@page "/adminresult/{isCorrect:bool}"


<h3>Result</h3>

<div class="image-container">

    <img class="image-result" src="@ImageUrl" />
    <div class="center-result blinker">
        @Message
    </div>
</div>

@code {

    [Inject]
    Game? Game { get; set; }
    [Inject]
    Blazored.LocalStorage.ILocalStorageService? LocalStorage { get; set; }
    [Inject]
    JsConsole? JsConsole { get; set; }
    [Inject]
    NavigationManager? NavManager { get; set; }
    [Inject]
    ConcurrentDictionary<Guid, UserLogin>? UserLogins { get; set; }
    [Inject]
    LoginVerification? LoginVerify { get; set; }
    [Inject]
    UserLoginRepo? UserLoginRepo { get; set; }
    private UserLogin? User { get; set; }

    [Parameter]
    public bool isCorrect { get; set; }
    public string? ImageUrl { get; set; }
    private string Message { get; set; } = "CORRECT";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            User = await UserLoginRepo!.Load();
            if (LoginVerify!.VerifyLogin(User, true) == false)
            {
                NavManager!.NavigateTo("/");
                return;
            }
            StateHasChanged();

            Random random = new Random();
            int i = random.Next(1, 4);
            if (isCorrect)
            {
                ImageUrl = $"Correct{i}.jpg";
            }
            else
            {
                ImageUrl = $"Wrong{i}.jpg";
                Message = "WRONG";
            }
            StateHasChanged();
            
            await Task.Delay(10000);

            Game!.ChangeState(GameState.Leaderboard);
            NavManager!.NavigateTo("/AdminLeaderBoard");
        }
    }

}