@page "/adminround"

<h3>AdminRound</h3>
@inject NavigationManager navMan
@inject Game Game
<h3>Round</h3>
Game: @Game.CurrentRound

@if (Game.CurrentQuestion != null)
{
    <h3>Question</h3>
    @Game!.CurrentQuestion?.Text


    <h3>Timer</h3>
    <p class="scoreboard-font">@timerCountdown</p>

    @foreach (int row in rows)
    {
        <div class="hover-option-container">
            <div class="hover-option-item" @onclick="()=> OnSelectedChoice(Game!.CurrentQuestion!.ListOptions[row * 2])">
                <HoverButton Color="@OnSetButtonColor(Game!.CurrentQuestion!.ListOptions[row * 2])" style="width:100%;">
                    @Game!.CurrentQuestion!.ListOptions[(row * 2)].Text
                </HoverButton>
            </div>
            @if (Game!.CurrentQuestion!.ListOptions.Count > row * 2 + 1)
            {
                <div class="hover-option-item" @onclick="()=> OnSelectedChoice(Game!.CurrentQuestion!.ListOptions[row * 2 + 1])">
                    <HoverButton Color="@OnSetButtonColor(Game!.CurrentQuestion!.ListOptions[row * 2 + 1])" style="width:100%;">
                        @Game!.CurrentQuestion!.ListOptions[(row * 2) + 1].Text
                    </HoverButton>
                </div>
            }
        </div>
    }

}

@code {
    private bool isCorrect = false;
    private TriviaQuestionOption? selectedOption = null;
    private List<int> rows = new();
    private int timerCountdown = 60; // 5 minutes in seconds

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender == false)
        {
            return;
        }

        rows.Clear();
        for (int i = 0; i < (int)(Game!.CurrentQuestion!.ListOptions.Count / 2); i++)
        {
            rows.Add(i);
        }
        StateHasChanged();

        StartTimer();
    }

    private async void StartTimer()
    {
        while (timerCountdown > 0)
        {
            await Task.Delay(1000); // Delay for 1 second
            timerCountdown--;
            StateHasChanged();
        }

        // Timer is done, navigate to AdminResult
        navMan.NavigateTo($"/AdminResult/{isCorrect}");
    }

    void OnSelectedChoice(TriviaQuestionOption option)
    {
        Game!.ChangeState(GameState.Meme);
        Game!.CurrentQuestion!.AskedThisRound = true;
        Game!.CurrentQuestion!.Used = true;
        if (option.IsAnswer)
        {
            // Calculate the time it took to answer and add to the score
        }

        isCorrect = option.IsAnswer;
        selectedOption = option;
    }

    string OnSetButtonColor(TriviaQuestionOption option)
    {
        if (option.Text == selectedOption?.Text)
        {
            return "#000";
        }
        return "var(--trivia-green)";
    }
}
