@page "/"

<PageTitle>Index</PageTitle>

<div class="login-img">
    <img src="/login-bkg-tile.png" alt="Login Background Title">
    <div class="login-overlay">

        <div class="login-overlay-items">
            <EditForm Model="@userLogin" OnValidSubmit="OnStart">
                <DataAnnotationsValidator />

                <div class="login-input">
                    <div class="form-group">
                        <InputText id="username" @bind-Value="userLogin.UserName"  class="form-control" placeholder="User Name"/>
                        <ValidationMessage For="@(() => userLogin.UserName)" />
                    </div>

                    <div class="form-group">
                        <InputText id="email" @bind-Value="userLogin.Email" class="form-control" placeholder="Email Address" />
                        <ValidationMessage For="@(() => userLogin.Email)" />
                    </div>

                    <button type="submit">Start</button>

                    @if (!ValidateForm())
                    {
                        <div class="validation-error">@_validationMessage</div>
                    }
                </div>
            </EditForm>

        </div>
    </div>
</div>
