@page "/"

<PageTitle>Index</PageTitle>

<div class="login-img">

    <img src="/login.png" alt="Login Background Title" style="width: 640px; height:640px;"> 
    <img src="/CHTrivia.png" alt="Login Background Title" class="login-overlay-title" >
    <img src="/animation_500_Transparent.gif" alt="Login Background Title" class="login-overlay-mr" >
    <img src="/Kwik-Trip-Logo.jpg" alt="Login Background Title" class="login-overlay-kt" >

    <div class="login-overlay" >

        <div class="login-overlay-items">
            <EditForm Model="@userLogin" OnValidSubmit="OnStart">
                <DataAnnotationsValidator />

                <div class="login-input">
                    <div class="form-group">
                        <InputText id="username" @bind-Value="userLogin.UserName"  class="form-control" placeholder="User Name"/>
                        <ValidationMessage For="@(() => userLogin.UserName)" />
                    </div>

                    <div class="form-group">
                        <InputText id="email" @bind-Value="userLogin.Email" class="form-control" placeholder="Email Address" />
                        <ValidationMessage For="@(() => userLogin.Email)" />
                    </div>

                    <button type="submit">Start</button>

                    @if (!ValidateForm())
                    {
                        <div class="validation-error">@_validationMessage</div>
                    }
                </div>
            </EditForm>

        </div>
    </div>
</div>
