@page "/round"
<h3>Round</h3>
Game: @Game.CurrentRound

@if (Game.CurrentQuestion != null)
{
    <h3>Question</h3>
    @Game!.CurrentQuestion?.Text

    @if (rows.Count > 0)
    {

        @foreach (int row in rows)
        {
            <div class="hover-option-container">
                <div class="hover-option-item" @onclick="()=> OnSelectedChoice(Game!.CurrentQuestion!.ListOptions[row * 2])">
                    <HoverButton style="width:100%">
                        @Game!.CurrentQuestion!.ListOptions[(row * 2)].Text
                    </HoverButton>
                </div>
                @if (Game!.CurrentQuestion!.ListOptions.Count > row * 2 + 1)
                {
                    <div class="hover-option-item" @onclick="()=> OnSelectedChoice(Game!.CurrentQuestion!.ListOptions[row * 2 + 1])">
                        <HoverButton style="width:100%">
                            @Game!.CurrentQuestion!.ListOptions[(row * 2) + 1].Text
                        </HoverButton>
                    </div>
                }
            </div>
        }
    }
    else
    {
        @foreach (var option in Game!.CurrentQuestion!.ListOptions)
        {
            @if (@option.Text == @selected)
            {
                <p><b>@option.Text</b></p>
            } else 
            {                
                <p>@option.Text</p>
            }
        }
    }
}



@code {

    [Inject]
    NavigationManager? NavManager { get; set; }
    [Inject]
    ConcurrentDictionary<Guid, UserLogin>? UserLogins { get; set; }
    [Inject]
    JsConsole? JsConsole { get; set; }
    [Inject]
    LoginVerification? LoginVerify { get; set; }
    [Inject]
    UserLoginRepo? UserLoginRepo { get; set; }
    [Inject]
    Game? Game { get; set; }

    [Inject] 
    Countdown? Countdown { get; set; }
    [Inject]
    Hub? Hub { get; set; }
    private UserLogin? User { get; set; }
    private List<int> rows = new();
    private string selected = string.Empty;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == false)
        {
            return;
        }

        try
        {
            User = await UserLoginRepo!.Load();
            if (LoginVerify!.VerifyLogin(User, false) == false)
            {
                NavManager!.NavigateTo("/");
                return;
            }
            StateHasChanged();

            var navigateLocation = Game!.CheckForNavigateLocation(false, GameState.InRound);
            if (navigateLocation != "" && navigateLocation != "/round")
            {
                NavManager!.NavigateTo(navigateLocation);
                return;
            }
            Hub!.Subscribe<GameStateChanged>((message) =>
            {
                var navigateLocation = Game!.CheckForNavigateLocation(false, GameState.InRound);
                if (navigateLocation != "")
                {
                    NavManager!.NavigateTo(navigateLocation);
                }
            });
        }
        catch (Exception ex)
        {
            await JsConsole!.LogAsync(ex.Message);
        }

        rows.Clear();
        for (int i = 0; i < (int)(Game!.CurrentQuestion!.ListOptions.Count / 2); i++)
        {
            rows.Add(i);
        }
        StateHasChanged();
    }

    void OnSelectedChoice(TriviaQuestionOption option)
    {
        int roundScore = 0;
        if (option.IsAnswer)
        {
            roundScore = Countdown!.Counter;
        }
        //Calculate the time it took to answer and add to the score
        var stat = new PlayerStats()
            {
                Email = User!.Email,
                UserName = User!.UserName,
                Score = roundScore
            };

        Game!.Players.AddOrUpdate(
            User.Email,
            (key) => stat,
            (key, existingVal) =>
                {
                    existingVal.AddScore(Game!.CurrentRound, Countdown!.Counter);
                    return existingVal;
                }
        );
        selected = option.Text;
        rows.Clear();
    }
}
