@page "/Sample"
@using Microsoft.EntityFrameworkCore
@inject Hub hub;
@inject List<TriviaQuestion> gameQuestions;
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@inject ILakePlayRepo<TriviaQuestion> QuestionRepo;
@inject JsConsole jsConsole;
@inject IConfiguration configuration

<PageTitle>Sample</PageTitle>

Change this to a logon screen.

<input @bind-value="_question" />
<button @onclick="OnAdd">Add</button>
<button @onclick="OnRefreshClick">Refresh</button>
<br />
<input @bind-value="_userName" />
<button @onclick="OnSaveUserName">Save</button>
<table>
    <tr>
        <th>Question</th>
    </tr>

    @foreach (var question in gameQuestions)
    {
        <tr>
            <td>@question.Text</td>
        </tr>
    }
</table>
@code {
    private string _question = string.Empty;
    private string _userName = string.Empty;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            try
            {
                if (gameQuestions.Count == 0 && QuestionRepo!= null)
                {
                    var questions = await QuestionRepo.LoadAllAsync();
                    gameQuestions.AddRange(questions);
                }
                hub.Subscribe<TriviaQuestionOption>(OnTriviaRefresh);
                _userName = await localStorage.GetItemAsStringAsync("UserName");
                StateHasChanged();
            }
            catch (Exception ex)
            {
                await jsConsole.LogAsync(ex.Message);
            }
    }

    private async void OnSaveUserName()
    {
        //We will hold in local storage these values.  When navigating to page if these values are already set we will navigate to the correct page
        //if AdminUserName and AdminPassword align from login then go to Admin Page
        string? adminUserName = configuration["AdminUserName"];
        string? adminPassword = configuration["AdminPassword"];
        await localStorage.SetItemAsStringAsync("UserName", _userName);
    }
    private void OnAdd()
    {
        gameQuestions.Add(new TriviaQuestion() { Text = _question });
        _question = string.Empty;
        StateHasChanged();
    }
    private void OnRefreshClick()
    {
        hub.Publish<TriviaQuestionOption>(new TriviaQuestionOption());
    }

    private void OnTriviaRefresh(TriviaQuestionOption trivia)
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

}