@page "/waiting"

<div class="top-row">
    <button @onclick="OnLogout">Logout</button>
</div>

<div class="title-container">
    <img src="/CHTrivia.png" alt="Login Background Title" class="title-image">
</div>

<h2 class="flash">Waiting</h2>

<p>Welcome, @User?.UserName</p>


<img src="/Kwik-Trip-Logo.jpg" alt="Login Background Title" style="width:240px;height:80px;">
<img src="/animation_500_Transparent.gif" alt="Login Background Title" style="width:240px; height:240px;">