@page "/leaderboard"
<PageTitle>@Game?.GameName</PageTitle>
<h3>Leaderboard</h3>
@if (Game != null)
{
    <table>
        <tr>
            <th>Player</th>
            <th>Score</th>
        </tr>
        @foreach (var user in Game!.Players.OrderByDescending(x => x.Value.Score))
        {
            <tr>
                <td>@user.Value.UserName</td>
                <td>@user.Value.Score</td>
            </tr>
        }
    </table>
}

@code {

    [Inject]
    NavigationManager? NavManager { get; set; }
    [Inject]
    ConcurrentDictionary<Guid, UserLogin>? UserLogins { get; set; }
    [Inject]
    JsConsole? JsConsole { get; set; }
    [Inject]
    LoginVerification? LoginVerify { get; set; }
    [Inject]
    UserLoginRepo? UserLoginRepo { get; set; }
    [Inject]
    Game? Game { get; set; }
    [Inject]
    Hub? Hub { get; set; }
    private UserLogin? User { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            try
            {
                User = await UserLoginRepo!.Load();
                if (LoginVerify!.VerifyLogin(User, false) == false)
                {
                    NavManager!.NavigateTo("/");
                    return;
                }
                StateHasChanged();

                var navigateLocation = Game!.CheckForNavigateLocation(false, GameState.Leaderboard);
                if (navigateLocation != "" )
                {
                    NavManager!.NavigateTo(navigateLocation);
                    return;
                }
                Hub!.Subscribe<GameStateChanged>((message) =>
                {
                    var navigateLocation = Game!.CheckForNavigateLocation(false, GameState.Leaderboard);
                    if (navigateLocation != "")
                    {
                        NavManager!.NavigateTo(navigateLocation);
                    }
                });
            }
            catch (Exception ex)
            {
                await JsConsole!.LogAsync(ex.Message);
            }
        }
    }

    
}
