h2 {
    text-align: center;
}
p {
    text-align: center;
}

.top-row {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 10px;
}

    .top-row button {
        align-self: flex-end;
        margin-right: 10px;
    }

.title-container {
    display: flex; 
    justify-content: center;
}
.title-image {
    width: 320px;
    height: 240px;
}

.flash {
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
